<h1>Listing notes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.body %></td>
    <td><%= link_to 'Show', project_note_path(@project, note) %></td>
    <td><%= link_to 'Edit', edit_project_note_path(@project, note) %></td>
    <td><%= link_to 'Destroy', project_note_url(project_id: @project.id, id: note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Note', new_project_note_path(@project) %>
