<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<%= link_to 'New Project Task', new_project_task_path(@project) %> |
<%= link_to 'New Project Note', new_project_note_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h3>
  Tasks
</h3>

<div class="row-fluid">
  <%= form_tag project_tasks_path(@project), remote: true, method: 'get', id: 'tasks_search' do %>
  <%= text_field_tag :search, '', class: 'input-medium search-query'%>
  <%= submit_tag "Search", :name => nil, class: 'btn' %>
  <%end%>
</div>

<div class="row-fluid">
  <div class="span2">
    <b>Name</b>
  </div>
  <div class="span4">
    <b>Description</b>
  </div>
  <div class="span2">
    <b>Due Date</b>
  </div>
  <div class="span2">
    <b>Due In (days)</b>
  </div>
  <div class="span2">
    <b>Actions</b>
  </div>  
</div>
<div id="tasks">
  <%= render @tasks %>
</div>