<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<%= link_to 'New Project Task', new_project_task_path(@project) %> |
<%= link_to 'New Project Note', new_project_note_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
