<%= link_to 'OpenCamp', '/projects', class: 'brand' %>
<% if user_signed_in? %>
  <ul class='nav'>
    <li>
      <%= link_to 'Projects', projects_path %>
    </li>
  </ul>
  <div class='pull-right'>
    <ul class='nav'>
      <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
      </li>      
    </ul>
  </div>
<% else %>
  <div class='pull-right'>
    <ul class='nav'>
      <li>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
    </ul>
  </div>
<% end %>
